Repository FredHutch/wiki, pull requests merged in 2019-01, with the labels that each got.

#218 First pass at adding the flow cytometry instructions from the Core
  _gendemos/FlowCytometryStartupAndConfiguration.md
  _generation/assets/flowCytometryStartupDocs/Aria2-1.pdf
  _generation/assets/flowCytometryStartupDocs/Aria2-2.pdf
  _generation/assets/flowCytometryStartupDocs/Aria2-3.pdf
  _generation/assets/flowCytometryStartupDocs/Canto2-1.pdf
  _generation/assets/flowCytometryStartupDocs/Canto2-2.pdf
  _generation/assets/flowCytometryStartupDocs/LSR2-2.pdf
  _generation/assets/flowCytometryStartupDocs/Symphony1.pdf
  _generation/assets/flowCytometryStartupDocs/X-50.pdf
  _generation/assets/flowCytometryStartupDocs/celesta.pdf
  _generation/datagen_flowcytometry.md
Labels: generation

#223 Update linux_linux101.md
  _computing/linux_linux101.md
Labels: SciComp

#237 Fix typos on announcement
  _scicompannounce/2018-01-22-hpc-systems-upgrade-2019.md
Labels: SciComp

#238 Corrected date in filename
  _scicompannounce/2019-01-22-hpc-systems-upgrade-2019.md
Labels: SciComp

#229 updated RStudio and Jupyter notebooks content
  _bioinformatics/compute_uis.md
  _bioinformatics/prog_R.md
  _bioinformatics/prog_overview.md
  _bioinformatics/prog_python.md
  _data/navigation.yml
Labels: bioinformatics
